<nav class="navbar-inner" role="navigation">
    <div class="navbar-header">
        <ul class="nav navbar-nav">
            <li >
                <a href="/#!" class="profile-img profile-img-css"></a>
            </li>
            <li>
                <a href="/#!" class="navbar-brand">Mangal Dev</a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="/#!/#end-about-me">About Me</a>
            </li>
            <li>
                <a href="contacts">Blog</a>
            </li>
            <li>
                <a href="contacts">Interview Questions</a>
            </li>
            <li>
                <a href="contacts">Programming Stats</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="padding-right: 200px;">
            <li>
                <a href="contacts">Contact Me</a>
            </li>
            
        </ul>
    </div>
</nav>