<section  data-ng-controller="IndexController">
	<header class="jumbotron header" id="header">
		<div class="row">
			<h2 class="banner">"If at first you don’t succeed, call it version <i>1.0"</i></h2>
			<div class="spacer50"></div>
		</div>

		<div class="row">
			<div class="col-md-6 left">
				<div class="avatar">
					<img src="images/profile-picture.png"  class="img-responsive" alt="Profile Picture">
				</div>
			</div>
			<div class="col-md-6 right">
				<h1 class="heading">Hi, I'M MANGAL</h1>
				<p>A developer and definitely a tech enthusiast from India.</p>
				<a ng-click="scrollToAboutMe()" class="btn btn-default btn-lg">Know Me Better !</a>
			</div>
		</div>
	</header>
	<section class="section about-me" id="about-me">
		<div class="container">
			<h2 class="heading">ABOUT ME</h2>
			<p>This website is about my life, my work and my hobbies.
				I hope you will find something interesting here!
			</p>
			<p>
				Some of my greatest tech interest are JAVA, J2EE, Angular etc.
				Actually I’m working as a Senior Developer in Oracle India.
			</p>
			<p>
				If you’re interested in my professional career you can take a look on my resume.
				If you want to get in touch you can choose one of my contacts.
			</p>
			<p>
				This is not only my personal website, but also my code playground… where I test alpha code and things that can go boom… so if you notice any issue feel free to contact me.</p>
			</div>
			<div id="end-about-me" style="margin-top: 450px"></div>
		</section>
	</section>
